In [1]:
#Angad Singh Hoonjan
#RA2111053010021
import pandas as pd
data = {"team":["csk","csk","mi","mi","kkr","kkr","csk","csk","kkr","mi"],
"Pos":["bowler","bowler","batsman","batsman","batsman","bowler",
"batsman","bowler","batsman","batsman"],
"Age":[24,28,40,22,29,33,31,26,21,36]}
df=pd.DataFrame(data)
print (df)
print("\n")
grouped_single=df.groupby('team').agg({'Age':['mean','min','max']})
print(grouped_single)
print("\n")
grouped_multiple=df.groupby('Pos').agg({'Age':['mean','min','max']})
grouped_multiple.columns=['age_mean','age_min','age_max']
grouped_multiple=grouped_multiple.reset_index()
print(grouped_multiple)

  team      Pos  Age
0  csk   bowler   24
1  csk   bowler   28
2   mi  batsman   40
3   mi  batsman   22
4  kkr  batsman   29
5  kkr   bowler   33
6  csk  batsman   31
7  csk   bowler   26
8  kkr  batsman   21
9   mi  batsman   36


            Age
           mean min max
team
csk   27.250000  24  31
kkr   27.666667  21  33
mi    32.666667  22  40


       Pos   age_mean  age_min  age_max
0  batsman  29.833333       21       40
1   bowler  27.750000       24       33

In [2]:
#Angad Singh Hoonjan
#RA2111053010021
import pandas as pd
#dictionary of lists
d={'Phone_Model':['Samsung','OnePlus','Apple','Xiaomi','Honor','Oppo'],
'Date_of_Purchase':['2018-07-10','2020-08-12','2021-06-17',
'2020-03-16','2019-05-19','2022-0-22'],
'Price':['34000','21000','40000','19500','19000','26000']}
#creating dataframe from the above dictionary
dataFrame = pd.DataFrame(d)
print("DataFrame: \n",dataFrame)
#fetch mobiles purchased after 19th May 2019
resDF = dataFrame.loc[dataFrame["Date_of_Purchase"]>"2019-05-19"]
print("\nMobiles purchased after 19th May 2019: \n",resDF)
#fetch details for apple mobile
dataFrame=dataFrame[dataFrame['Phone_Model'].str.contains('Apple')]
print("\nFetching rows with text Apple: \n", dataFrame)
#fetch details for mobiles less than or equal to Rs 21000
dataFrame = pd.DataFrame(d)
priceDF=dataFrame.loc[dataFrame["Price"]<="21000"]
print("\n Mobile Phones less than or equal to Rs 21000: \n",priceDF)

DataFrame:
   Phone_Model Date_of_Purchase  Price
0     Samsung       2018-07-10  34000
1     OnePlus       2020-08-12  21000
2       Apple       2021-06-17  40000
3      Xiaomi       2020-03-16  19500
4       Honor       2019-05-19  19000
5        Oppo        2022-0-22  26000

Mobiles purchased after 19th May 2019:
   Phone_Model Date_of_Purchase  Price
1     OnePlus       2020-08-12  21000
2       Apple       2021-06-17  40000
3      Xiaomi       2020-03-16  19500
5        Oppo        2022-0-22  26000

Fetching rows with text Apple:
   Phone_Model Date_of_Purchase  Price
2       Apple       2021-06-17  40000

 Mobile Phones less than or equal to Rs 21000:
   Phone_Model Date_of_Purchase  Price
1     OnePlus       2020-08-12  21000
3      Xiaomi       2020-03-16  19500
4       Honor       2019-05-19  19000

In [3]:
#Angad Singh Hoonjan
#RA2111053010021
#transforming a data frame by increasing the value
import pandas as pd
df=pd.DataFrame({'A':range(5),'B':range(1,6)})
print(df,"\n")
new=df.transform(lambda x:x*5)
print(new)

   A  B
0  0  1
1  1  2
2  2  3
3  3  4
4  4  5

    A   B
0   0   5
1   5  10
2  10  15
3  15  20
4  20  25

In [4]:
#Angad Singh Hoonjan
#RA2111053010021

#transforming a data frame with its square root and exponential values
import numpy as np
import pandas as pd
s=pd.Series(range(10))
print(s)
s1=s.transform([np.sqrt,np.exp])
print(s1)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
       sqrt          exp
0  0.000000     1.000000
1  1.000000     2.718282
2  1.414214     7.389056
3  1.732051    20.085537
4  2.000000    54.598150
5  2.236068   148.413159
6  2.449490   403.428793
7  2.645751  1096.633158
8  2.828427  2980.957987
9  3.000000  8103.083928